*{
  box-sizing: border-box;
}

.parallax-container {
    height: 350px;
  }

  #webcam{
    display: flex;
    flex-wrap: wrap;
  }

  #webcam img{
    width: 48%;
    margin: 1%;

  }

  .sentenceCase {
    text-transform: capitalize;
  }