*{
  box-sizing: border-box;
}

.parallax-container {
    height: 350px;
  }

  #webcam{
    display: flex;
    flex-wrap: wrap;
  }

  #web-img{
    width: 48%;
    margin: 1%;
  }

  #web-img a img {
    max-width: 100%;
  }